$main-font: "Lato", sans-serif;
$background-color: #fff;
$light-black: #3A393A;
$light-gray: #919191;
$green: #5a977a;
$bright-green: #51A74B;
$green-hover: #498067;
$orange: #f0a187;
$white: #fff;
$black: #000;
$button-auth-color: #d8980e;
$button-auth-hover: #c37b28;
