$main-font: "Lato", sans-serif;
$background-color: #fff;
$light-black: #3A393A;
$light-gray: #919191;
$green: #5a977a;
$green-hover: #498067;
$orange: #f0a187;
$white: #fff;
//$blue-color:#bbb8f3;
//$button-auth-color: #2861c3;
//$button-auth-hover:#568ee4;